@import 'bourbon/bourbon';

// fonts available:
//
// Franklin Gothic light, book, book italic, demi, heavy, and heavy italic
// Franklin Gothic Condensed Small Caps book, and medium
// Franklin Gothic Extra Compressed demi
// FF Meta regular, and italic
// FF Meta Small Caps demi
//
// respective CSS:
//
// franklin-gothic-urw
//   weights: 300, 400, 400, 700
//   styles: normail, normal, italic, normal
// franklin-gothic-urw-con-sc
//   weights: 400, 500
//   styles: normal, normal
// franklin-gothic-ext-comp-urw
//   weights: 700
//   styles: normal
// ff-meta-serif-web-pro
//   weights: 500, 500
//   styles: normal, italic
// ff-meta-serif-sc-web-pro
//   weights: 500
//   styles: normal
// adobe-text-pro (for ampersands and "of" "and" etc. only
//   weights: 400
//   styles: italic

$font-main: "franklin-gothic-urw", Helvetica, Arial, Sans-serif;
$font-small-caps: "franklin-gothic-urw-con-sc", Helvetica, Arial, Sans-serif;
$font-condensed:  "franklin-gothic-ext-comp-urw", "LeagueGothicRegular", Tahoma, Verdana, sans-serif;
$font-alt: "ff-meta-serif-web-pro", Georgia, Times, Serif;
$font-alt-sc: "ff-meta-serif-sc-web-pro", Georgia, Times, Serif;
$font-special: "adobe-text-pro", Georgia, Times, Serif;

// mixins with correct weights

@mixin font-main {
  font-family: $font-main;
  font-weight: 400;
}

@mixin font-main-light {
  font-family: $font-main;
  font-weight: 300;
}

@mixin font-sc-normal {
  font-family: $font-small-caps;
  font-weight: 400;
  text-transform: lowercase;
}

@mixin font-sc-bold {
  font-family: $font-small-caps;
  font-weight: 500;
  text-transform: lowercase;
}

@mixin font-condensed {
  font-family: $font-condensed;
  font-weight: 700;
}

@mixin font-alt {
  font-family: $font-alt;
  font-weight: 500;
}

@mixin font-alt-sc {
  font-family: $font-alt-sc;
  font-weight: 500;
  text-transform: lowercase;
}

@mixin font-special-char {
  font-family: $font-special;
  font-weight: 400;
  font-style: italic;
}

// animations

.animation-title-slide-up {
  @include animation(title-slide-up 1s ease-out);
}

@mixin title-slide-up {
  0% {
    top: 700px;
  }
  20% {
    top: 700px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes title-slide-up  { @include title-slide-up }
   @-moz-keyframes title-slide-up  { @include title-slide-up }
        @keyframes title-slide-up  { @include title-slide-up }

// styles

body {
  @include font-alt;
  font-style: normal;
}

h1, h2, h3, h4 {
  @include font-condensed;
}

.chapterHeading {
  margin-bottom: 2em;
  padding: 0;

  h2 {
    font-size:300%;
    @include font-alt-sc;
    line-height: 1em;
    text-align: left;
    -letter-kern: -2px;
  }
}

header .title {
  @include font-alt-sc;
  font-style: normal;
}

.pageCount {
  @include font-alt-sc;

  .of {
    @include font-special-char;
  }
}

article .articleFlow p:nth-child(2) {
  text-indent: 0;
}

.titleInfo {
  @extend .animation-title-slide-up;
}

section.titlePage {
  h1 {
    @include font-condensed;
    font-size: 1000%;
    -letter-kern: -3px 2px 2px 0;
    letter-spacing: 0;
    line-height: .6em;
    position: relative;
    text-indent: 0;
    z-index: 1;
  }

  .author {
    background: rgba(0,0,0,.35);
    display: inline-block;
    @include font-special-char;
    padding: 0 2em;

    a {
      @include font-alt-sc;
      font-style: normal;
    }
  }
}

.footer .about p:last-child {
  @include font-special-char;
}
